spectral_unmixing/results/ZA-AUI
spectral_unmixing/data/*zarr
timeseries_cleaning/fulltime/*png
timeseries_cleaning/za-aui/*png
spectral_unmixing/models/*pkl
baresoil/qgis_soilclusters
FC_mapping/CH_fraction_weekly*
Philippa
spectral_mixing/synthetic_samples/*
spectral_unmixing/results/UAV_validation/*png
erosivity_index/covariates